# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

.DS_Store
Pimoroni/config-backups/config.preinstall-inky-2024-05-30-14-32-11.txt
Pimoroni/inky/uninstall.sh
Pimoroni/inky/docs/index.html
Pimoroni/inky/docs/inky.html
Pimoroni/inky/docs/search.js
Pimoroni/inky/docs/inky/auto.html
Pimoroni/inky/docs/inky/eeprom.html
Pimoroni/inky/docs/inky/inky_ac073tc1a.html
Pimoroni/inky/docs/inky/inky_ssd1608.html
Pimoroni/inky/docs/inky/inky_ssd1683.html
Pimoroni/inky/docs/inky/inky_uc8159.html
Pimoroni/inky/docs/inky/inky.html
Pimoroni/inky/docs/inky/mock.html
Pimoroni/inky/docs/inky/phat.html
Pimoroni/inky/docs/inky/ssd1608.html
Pimoroni/inky/docs/inky/ssd1683.html
Pimoroni/inky/docs/inky/what.html
Pimoroni/inky/examples/clean.py
Pimoroni/inky/examples/identify.py
Pimoroni/inky/examples/logo.py
Pimoroni/inky/examples/name-badge.py
Pimoroni/inky/examples/7color/buttons.py
Pimoroni/inky/examples/7color/clear.py
Pimoroni/inky/examples/7color/colour-palette.py
Pimoroni/inky/examples/7color/cycle.py
Pimoroni/inky/examples/7color/graph.py
Pimoroni/inky/examples/7color/image.py
Pimoroni/inky/examples/7color/stripes.py
Pimoroni/inky/examples/7color/advanced/dither.py
Pimoroni/inky/examples/7color/html/hello-world.html
Pimoroni/inky/examples/7color/html/html.sh
Pimoroni/inky/examples/7color/html/README.md
Pimoroni/inky/examples/7color/images/girldoomscrolling.jfif
Pimoroni/inky/examples/7color/images/inky-4.0-beachanchors.jpg
Pimoroni/inky/examples/7color/images/inky-4.0-redchain.jpg
Pimoroni/inky/examples/7color/images/inky-4.0-roundship.jpg
Pimoroni/inky/examples/7color/images/inky-4.0-ships.jpg
Pimoroni/inky/examples/7color/images/inky-7.3-beachanchors.jpg
Pimoroni/inky/examples/7color/images/inky-7.3-redchain.jpg
Pimoroni/inky/examples/7color/images/inky-7.3-ships.jpg
Pimoroni/inky/examples/phat/calendar-phat.py
Pimoroni/inky/examples/phat/weather-phat.py
Pimoroni/inky/examples/phat/resources/backdrop.png
Pimoroni/inky/examples/phat/resources/calendar.png
Pimoroni/inky/examples/phat/resources/days.png
Pimoroni/inky/examples/phat/resources/empty-backdrop.png
Pimoroni/inky/examples/phat/resources/icon-cloud.png
Pimoroni/inky/examples/phat/resources/icon-rain.png
Pimoroni/inky/examples/phat/resources/icon-snow.png
Pimoroni/inky/examples/phat/resources/icon-storm.png
Pimoroni/inky/examples/phat/resources/icon-sun.png
Pimoroni/inky/examples/phat/resources/icon-wind.png
Pimoroni/inky/examples/phat/resources/InkypHAT-212x104-bw.png
Pimoroni/inky/examples/phat/resources/InkypHAT-212x104.png
Pimoroni/inky/examples/phat/resources/InkypHAT-250x122-bw.png
Pimoroni/inky/examples/phat/resources/InkypHAT-250x122.png
Pimoroni/inky/examples/tests/border.py
Pimoroni/inky/examples/what/dither-image-what.py
Pimoroni/inky/examples/what/quotes-what.py
Pimoroni/inky/examples/what/resources/InkywHAT-400x300-bw.png
Pimoroni/inky/examples/what/resources/InkywHAT-400x300.png
Pimoroni/inky/examples/what/resources/pattern-1.jpg
Pimoroni/inky/examples/what/resources/pattern-2.jpg
Pimoroni/inky/examples/what/resources/pattern-3.jpg
image.png
output.png
